<%- include('../includes/head.ejs') %>
  <div class="p-5" style="min-height: 100vh; background-image: url('https://gitlab.litespeedtech.com/preview/cpanel/img/troubleshoot/403.png'); background-repeat: no-repeat; background-position: center; background-size: cover;
">
    <div class="container p-5 d-flex align-items-center justify-content-center flex-column border-none rounded"
      style="background-color: rgba(0, 0, 0, 0.689); margin-top: 10vmax;">
      <h3 class="fs-1 fw-lighter text-light mb-4">Invlaid Input</h3>
      <a class="btn btn-danger text-center" href="/">Back</a>
    </div>
  </div>