<%- include('../includes/head.ejs') %>
  <div class="p-5" style="min-height: 100vh; background-image: url('/images/kiwihug-5bzMOpMTDRM-unsplash.jpg'); background-repeat: no-repeat; background-position: center; background-size: cover;
  ">
    <div class="container p-5 d-flex align-items-center justify-content-center flex-column border-none rounded" style="background-color: rgba(0, 0, 0, 0.389); margin-top: 10vmax;">
      <h1 class="text-light">Welcome to TodleDo</h1>
      <p class="w-50 my-4 text-center text-light">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut vero iure quibusdam recusandae deserunt voluptatum
        quod explicabo eius expedita obcaecati, sunt sit ex cupiditate cum dignissimos nisi laboriosam nesciunt
        corporis?
      </p>
      <a class="btn btn-dark" href="/register">Register User</a>
    </div>
  </div>

  <%- include('../includes/footer.ejs') %>